# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.h5
*.keras

# ======================
# Virtual Environments
# ======================
.venv/
venv/
.env

# ======================
# Data & Outputs
# ======================
data/
uploads/

# ======================
# Secrets / Credentials
# ======================
.kaggle/
serviceAccountKey.json
firebase_key.json

# ======================
# Node / Frontend
# ======================
node_modules/
build/

# ======================
# OS / Editor
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/

